* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#content {
    flex: 3;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
}

header {
    display: inline;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #696969;
    text-align: center;
    color: white;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

nav {
    position: sticky;
    top: 0;
    background-color: #999999;
    padding: 5px;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
}

h2,
h3 {
    color: black;
}

nav a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

nav a:active {
    color: orange;
}

.feature-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: top;
}

/* Gambar Penghargaan */
.gambar-khusus-4 {
    width: 100%;
    max-height: 600px;
    object-fit: none;
}

/* Penutup */

.profile-img {
    width: 200px;
}

.card {
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    text-align: justify;
}

.profile header {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    main aside {
        align-self: stretch;
    }
}

footer {
    padding: 20px;
    color: white;
    background-color: #696969;
    text-align: center;
    font-weight: bold;
}